<!-- wp:template-part {"slug":"main-header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"
  style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)">

  <!-- wp:group {"align":"wide","className":"content-sidebar-grid","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
  <div class="wp-block-group alignwide content-sidebar-grid" style="margin-top:0;margin-bottom:0">

    <!-- wp:group {"className":"grid-sponsor","layout":{"type":"constrained"}} -->
    <div class="wp-block-group grid-sponsor">
      <!-- wp:template-part {"slug":"sidebar-sponsor","area":"uncategorized"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"grid-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group grid-content">
      <!-- wp:post-title {"level":1,"style":{"typography":{"fontFamily":"var(--wp--preset--font-family--libre-franklin)","fontWeight":"700","lineHeight":"1.2"},"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"x-large"} /-->

      <!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"object":{"position":"center center"},"width":"100%"}} /-->

      <!-- wp:spacer {"height":"var:preset|spacing|30"} -->
      <div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
      <!-- /wp:spacer -->

      <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"grid-sidebar","layout":{"type":"constrained"}} -->
    <div class="wp-block-group grid-sidebar">
      <!-- wp:template-part {"slug":"main-sidebar","area":"uncategorized"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"main-footer","area":"footer"} /-->